*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: white;
    text-align: center;
    width: 960px;
    margin: 0 auto;
    padding: 50px;
}
#imgMe{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 160px;
}